.demo {
    display: flex;
    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
    height: 800px;
    flex-direction: column;
    gap: 20px;
}

.demo__benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;

}

.demo__list {
    display: flex;
    flex-direction: row;
    
    gap: 30px;
    color: #bebebe;
    font-size: 12px;


}

.demo__list li {
    text-decoration: line-through;
    border: 1px solid #bebebe;
    border-radius: 30px;
    padding: 10px;
}

.demo__content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
    gap: 20px;
}

.demo__content-title {
    font-size: 38px;
    font-weight: 600;
}

.demo__image {
    border: 10px solid #000;
    width: 700px;
    height: 500px;
}

.demo__button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    background: #5b2efd;
    width: 265px;
    height: 80px;
    margin-bottom: 40px;
    border: 5px solid #5b2efd;
    border-radius: 15px;
    transition: 0.25s ease;
    box-shadow: 5px 5px #000;
}

.demo__button:hover {
    background: #190075;
    transform: scale(1.1);
}

.demo__button:active {
    background: #2700b6;
    transform: scale(1);
}
