.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    color: #000;
  }
  
  .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;


  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: flex;
    margin-top: 10px;
  }
  .UseCase__Span {
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  .Product__Span{
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  .nav-link-item {
    position: relative;


  }
  .dropdown {
    position: relative;

  }
  .dropdown:hover {
    cursor: default;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 14.5vw;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s ease-in;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust as needed */
    gap: 10px; /* Adjust as needed */
    padding: 10px;

  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in;
  }

  .dropdown-content a:hover {
    transform: scale(1.1);
  }

  .Demo__Button {
    color: #fff;
    background: rgba(42, 46, 255, 0.7);
    font-weight: 700;
    font-size: 16px;

    padding: 10px;
    position: relative;
    border-radius: 10px;
    transition: 0.2s ease;
    box-shadow: 2px 2px #000;
  }

  .Demo__Button:hover{

    background: rgba(0, 1, 80, 0.7);
    transform: scale(1.1);
  }

  .Demo__Button:active{

    background: rgba(0, 3, 179, 0.7);
    transform: scale(1);
  }